* {
    box-sizing: border-box
}

body {
    text-align: center;
}

.board {
    display: inline-block;
    border: solid black;
    border-width: 1px 1px 0 0;
    background-color: lightgray
}

.board .row {
    display: flex;
}

.board .cell {
    border: solid black;
    border-width:0 0 1px 1px;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 25px;
    line-height: 40px;
    cursor: pointer;
    user-select: none
}

.board .cell.bomb { background-color: red }
.board .cell.empty { background-color: gray; }
.board .cell.empty span { display: none }
.board .cell.flag { color: red }
.board .cell.number-1 { background-color: #7f7 }
.board .cell.number-2 { background-color: #77f}
.board .cell.number-3 { background-color: #f77 }
.board .cell.number-4 { background-color: #ff7 }
.board .cell.number-5 { background-color: #4f4 }
.board .cell.number-6 { background-color: #44f }
.board .cell.number-7 { background-color: #f44 }
.board .cell.number-8 { background-color: #ff4 }